#SdrCalculator {
    .ui {
        // Overrides for semantic ui classes
        &.masthead {
            background: url('../images/building1-mask.jpg') no-repeat center center fixed;
            background-size: cover;
            h1 {
                margin-top: 3em;
                font-size: 3em;
            }
        }
    }     
}
