#SdrCalculator {
    .ui {
        // Overrides for semantic ui classes
        &.masthead {
            background: url('../images/building1-mask.jpg') no-repeat center center fixed;
            background-size: cover;
            padding: 3em 0;
            h1 {
                margin: 3em auto 1em auto;
                font-size: 3em;
            }
        }

        &.vertical.stripe {
            padding: 8em 0;
            p {
                font-size: 1.33em;
            }

            h3 {
                font-size: 2em;
            }
        }

        .inverted {
            label {
                color: rgba(255, 255, 255, 0.9);
            }
        }
        
        &.inverted.segment {
            background-color: #8799b7;
            padding: 15px 10px;
        }

        &.celled.definition.table thead:not(.full-width) th:first-child {
            box-shadow: 0 -1px 0 1px #f9f9f9;
            background: #f9f9f9;
        }
    }     
}
